.drop-down-menu{
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

.hide{
  display: none;
}

#find-stops{
  background-color: red;
  color: white;
  border-radius: 10px;
  width: 100px;
}

.results-field{
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

#stop-description{
  list-style: none;
  margin-bottom: 5%;
}